.container {
  display: flex;
  gap: 2rem;
}

.categoriesContainer {
  width: 30%;
}

.businessContainer {
  width: 70;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
