.inputSearch {
  border: 2px solid #dee1e2;
  border-radius: 30px;
  font-size: 1rem;
  padding: 1rem;
  width: 23%;

  &:hover {
    border: 2px solid #ccc;
  }

  &:focus {
    border: 2px solid #8056eb;
    outline: none;
  }
}
